.data{
    display: flex;
    flex-direction: column;
    height: 97vh;
    justify-content: center;
    align-items: center;
}

.card{
    padding-top: 20px;
    width: 750px;
    height: 130px;
    background-color: rgb(255,222,173,0.2);
    border-radius: 15px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.button{
    padding-top: 30px;
}

.text{
    font-size: 30px;
}

